In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [21]:
final_df = pd.read_csv("created/nationa_and_league_sorted.csv")

In [22]:
final_df["Nationality"].fillna('', inplace = True)

In [23]:
final_df.iloc[6, 14]

''

In [27]:
for data in final_df["Nationality"].iteritems():
    if(data[1] != "" and data[1][-1] == "]"):
        final_df.iloc[data[0], 14] = data[1][:-3]

In [28]:
for data in final_df["Nationality"].iteritems():
    if(data[1] != "" and data[1][0] == "{"):
        final_df.iloc[data[0], 14] = data[1][4:]

In [29]:
for data in final_df["Nationality"].iteritems():
    if(data[1] != "" and data[1].startswith("\n")):
        if(data[1].find("]") != -1):
            index = data[1].find("]")
            final_df.iloc[data[0], 14] = data[1][index + 2:]
            print(index)
        else:
            
            final_df.iloc[data[0], 14] = data[1][2:]
            print("2")

18
13
10
10
13
9
10
11
2
17
12
11
11
10
11
11
9
12
2
2
2
10
26
11
2
24
12
16
24
9
10

In [33]:
for data in final_df["Nationality"].iteritems():
    
    final_df.iloc[data[0], 14] = data[1].strip()

In [34]:
final_df["Nationality"].unique()

array(['Portugal', 'Argentina', 'Netherlands', 'France', 'England', '',
       'SR Bosnia and Herzegovina,SFR Yugoslavia', 'Suriname', 'Spain',
       'Burundi', 'Ireland', 'Norway', 'Soviet Union (now Ukraine)',
       'Italy', 'Brazil', 'Colombia', 'SFR Yugoslavia', 'Zaire', 'Wales',
       'Australia', 'Turkey', 'West Germany', 'Cameroon', 'New Caledonia',
       'Northern Ireland', 'Iceland', 'Nigeria', 'Switzerland',
       'Scotland', 'Chile', 'Ghana', 'Belgium', 'Denmark', 'Soviet Union',
       'Paraguay', 'Romania', 'Czechoslovakia', 'Uruguay', 'Bulgaria',
       'East Germany', 'Sweden', 'Greece', 'South Africa',
       'SR Croatia,SFR Yugoslavia',
       'Czechoslovakia  (now Czech Republic)', 'Finland', 'Morocco',
       'Austria', 'Yugoslavia', 'Ivory Coast', 'Guadeloupe', 'Japan',
       'Cyprus', 'Réunion', 'Sierra Leone', 'Peru', 'Poland', 'U.S.',
       'Ecuador', 'Angola', 'Netherland', 'Liberia', 'Iran', 'Costa Rica',
       'Senegal', 'Togo', 'French Guiana', 'Mali', 'Estonia',
       'Trinidad and Tobago', 'São Tomé and Príncipe', 'United States',
       'Albania', 'Republic of Ireland', 'Gambia', 'Guinea', 'enmark',
       'Mexico', 'SR Serbia,SFR Yugoslavia', 'Israel', 'Burkina Faso',
       'Egypt', 'SFR Yugoslavia  (present-day North Macedonia)',
       'Algeria', 'Argenti', 'Zambia', 'Jamaica', 'Hungary', 'Zimbabwe',
       'Republic of Kosovo', 'Kenya', 'Tunisia', 'Canada', 'Honduras',
       'orn at sea', 'Zaire(now DR Congo)', 'Cape Verde',
       'Soviet Union (now Russia)', 'Russia)', 'Uganda',
       'SR Montenegro,SFR Yugoslavia', 'Benin', 'Ukrainian SSR',
       'Russian SFSR,Soviet Union',
       'osanska Gradiška,SR Bosnia and Herzegovina,SFR Yugoslavia',
       'Venezuela', 'Czech Republic', 'New Zealand', 'Germany',
       'Kazakhstan', 'Martinique', 'Oman', 'FR Yugoslavia',
       'Netherlands Antilles', 'Central African Republic', 'Croatia',
       'China', 'Latvia', 'Armenian SSR,Soviet Union', 'South Korea',
       'DR Congo (then Zaire)', 'Slovenia', 'Gabon',
       'SR Serbia,Yugoslavia', 'Slovakia', 'Syria', 'DR Congo', 'Ukraine',
       'The Gambia'], dtype=object)

In [35]:
len(final_df["Nationality"].unique())

129

In [32]:
final_df.head(5)

,Unnamed: 0,Unnamed: 0.1,Name,Position,Age,Team_from,League_from,Team_to,League_to,Season,Market_value,Transfer_fee,check_column,Country Column,Nationality
0,0,0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000,NaN,Spain,Portugal
1,1,1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000,True,Italy,Argentina
2,2,2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000,NaN,Spain,Netherlands
3,3,3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000,NaN,Italy,Argentina
4,4,4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000,NaN,France,France

In [36]:
final_df.to_csv("created/final_dataset.csv")