In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
whole_df = pd.read_csv('data/transfer_data.csv')

In [5]:
whole_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4700 non-null   object
 1   Position      4700 non-null   object
 2   Age           4700 non-null   int64
 3   Team_from     4700 non-null   object
 4   League_from   4700 non-null   object
 5   Team_to       4700 non-null   object
 6   League_to     4700 non-null   object
 7   Season        4700 non-null   object
 8   Market_value  3440 non-null   float64
 9   Transfer_fee  4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

In [6]:
whole_df.columns

Index(['Name', 'Position', 'Age', 'Team_from', 'League_from', 'Team_to',
       'League_to', 'Season', 'Market_value', 'Transfer_fee'],
      dtype='object')

In [9]:
whole_df['Market_value']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
4695    5000000.0
4696    3000000.0
4697    8500000.0
4698    4500000.0
4699    3500000.0
Name: Market_value, Length: 4700, dtype: float64

In [12]:
whole_df.isnull().sum().sum()

1260

In [10]:
whole_df["Name"]

0               Luís Figo
1           Hernán Crespo
2           Marc Overmars
3       Gabriel Batistuta
4          Nicolas Anelka
              ...
4695        Jasmin Kurtic
4696            Tchê Tchê
4697        Silvan Widmer
4698           Yuya Osako
4699         Kyle Bartley
Name: Name, Length: 4700, dtype: object

In [13]:
whole_df["Transfer_fee"]

0       60000000
1       56810000
2       40000000
3       36150000
4       34500000
          ...
4695     4800000
4696     4800000
4697     4500000
4698     4500000
4699     4500000
Name: Transfer_fee, Length: 4700, dtype: int64

In [14]:
whole_df["Transfer_fee"].isnull().sum()

0